body{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}
.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
main{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 74px;
}

/* Header section starts here */
header{
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-contents{
    max-width: 998px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-top: 26px;
    padding-bottom: 44px;
    margin: auto;
}
.banner-contents > a{
    background-color: rgb(13, 19, 33);
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
    text-decoration: none;
}
.banner-heading{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.banner-heading > h1, p{
    text-align: center;
}
.banner-heading > h1{
    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    line-height: 68px;
}
.banner-heading > p{
    max-width: 852px;
    margin: 0 auto;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
/* Header section ends here */

/* Why Web Development section starts here */
.why-web-development{
    padding: 80px 97px;
    margin-bottom: 88px;
}
.why-web-development-contents > h2, p{
    text-align: center;
}
.why-web-development-contents > h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.why-web-development-contents > p{
    max-width: 852px;
    padding-top: 24px;
    margin: 0 auto;
    padding-bottom: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.why-web-development-contents > div{
    padding: 48px;
}
.why-web-development-contents{
    display: flex;
    flex-direction: column;
}
.why-web-development-contents > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-content, .second-content, .third-content{
    display: flex;
    align-items: center;
}
.first-content > div, .second-content > div, .third-content > div{
    max-width: 477px;
}
.why-web-development-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.why-web-development-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    max-width: 468px;
    padding-top: 16px;
    padding-bottom: 32px;
    opacity: 0.7;
}
.why-web-development-btn{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    cursor: pointer;
}
.second-content{
    margin: 32px 0;
}
/* Why Web Development section ends here */

/* Inspiration section started here */
.inspiration{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 103px;
}
.inspiration > h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    max-width: 852px;
}
.inspiration > div{
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    margin: 48px 0;
}
.inspiration > div > iframe{
    min-width: 1076px;
    height: 550px;
    margin: 32px;
    border-radius: 16px;
}
/* Inspiration section ends here */

/* Target section starts here */
.target{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 100px;
}
.target > h2{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    color: rgb(13, 19, 33);
}
.target > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 852px;
    opacity: 0.7;
}
.targeted-skills{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 299px;
    gap: 24px;
    margin-top: 24px;
}
.targeted-skills > div{
    padding: 40px;
    border-radius: 16px;
    max-width: 364px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
.targeted-skills > div > h3{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-decoration: none;
    color: rgb(13, 19, 33);
    text-align: left;
    padding-top: 24px;
}
.targeted-skills > div > p{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    padding-top: 8px;
    padding-bottom: 24px;
}
.targeted-skills > div > a{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: rgb(13, 19, 33);
}
.target-html{
    background-color: rgba(255, 76, 30, 0.05);
}
.target-css{
    background-color: rgba(0, 76, 232, 0.05);
}
.target-js{
    background-color: rgba(255, 223, 0, 0.05);
}
/* Target section end here */

/* Support section starts here */
.support{
    border-radius: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.541)), url(../assets/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 48px;
    margin-bottom: 80px;
}
.support > h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.support > p{
    padding-top: 16px;
    padding-bottom: 49px;
    max-width: 606px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    opacity: 0.7;
    color: rgb(255, 255, 255);
}
.support > form{
    max-width: 685px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}
.support > form > input{
    border-radius: 8px;
    border: none;
    outline: none;
    height: 58px;
    color: rgb(13, 19, 33);
}
.support > form > input[type=text]{
    box-sizing: border-box;
    width: 548px;
    padding-left: 20px;
    font-size: 20px;
}
.support > form > input[type=text]::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(13, 19, 33, 0.4);
}
.support > form > input[type=submit]{
    background-color: rgb(255, 255, 255);
    width: 120px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
}
/* Support section ends here */

/* Footer section starts here */
footer{
    background-color: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
    padding: 32px 150px;
}
footer > div{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
footer > div > h4{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.contact-ref{
    display: flex;
    gap: 24px;
}
/* Footer section ends here */